<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="master :: app_header" />

<body class="">
	<div th:replace="master :: app_navbar"></div>

	<div class="row card main">
		<div class="col s12 m12">
			<table class="table">
				<thead class="myborderraduis">
					<tr class="black-text">
						<th>Name</th>
						<th>Code</th>
						<th>Is Available</th>
						<th>Actions <a class="fa fa-plus text-xs-right"
							style="color: #FFFFFF; text-align: right;" href="/facility">
								<button class="btn back addButton"><i class="material-icons left">add</i>Add</button>
						</a></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="facility : ${facilities}">
						<td th:text="${facility.name}"></td>
						<td th:text="${facility.code}"></td>
						<td th:text="${facility.available}"></td>
						<td><a th:href="@{/edit_facility/{id}(id=${facility.id})}"><button
									type="button" class="btn btn-primary">
									<i class="material-icons left">edit</i>Modify
								</button></a> <a th:href="@{/delete_facility/{id}(id=${facility.id})}"><button
									type="button" class="btn btn-danger">
									<i class="material-icons left">delete</i>Delete
								</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>






</body>
<footer th:replace="master :: app_footer"></footer>
</html>