<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="master :: app_header" />

<body class="">
	<div th:replace="master :: app_navbar"></div>

	<div class="row card main">
		<form class="col s12 m10 card-content" th:object="${university}">
			<div class="row">
				<div class="col s6 m5">
					<h4>University Name:</h4>
				</div>
				<div class="col s6 m5">
					<h4>
						<i th:field="*{name}" th:text="${university.name}"></i>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s6 m5">
					<h4>University Fax:</h4>
				</div>
				<div class="col s6 m5">
					<h4>
						<i th:field="*{fax}" th:text="${university.fax}"></i>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s6 m5">
					<h4>University Location:</h4>
				</div>
				<div class="col s6 m5">
					<h4>
						<i th:field="*{location}" th:text="${university.location}"></i>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4 m4">
					<a th:href="@{/edit_university/{id}(id=${university.id})}"
						class="btn btn-lg back"><i class="material-icons left">edit</i>Edit</a>
				</div>
				<div class="input-field col s4 m4">
					<a href="/departments"
						class="btn btn-lg back"><i class="material-icons left">visibility</i>Show departments</a>
				</div>
				<div class="input-field col s4 m4">
					<a href="/department"
						class="btn btn-lg back"><i class="material-icons left">add</i>Add department</a>
				</div>
			</div>

		</form>
	</div>






</body>
<footer th:replace="master :: app_footer"></footer>
</html>